.fc-left {
    & > h2 {
        font-size: 2rem;
    }
}

.fc-day-grid-event {
    position: absolute;
    width: 18%;
    height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    font-size: 2rem;
}

.fc-event-container {
    &:nth-child(4) > .fc-day-grid-event {
        background: $purple;
    }
    &:nth-child(5) > .fc-day-grid-event {
        background: $red;
    }
}


.calendar {
    &__color {
        position: relative;
        padding-left: 3.5rem;
        &::before {
            content: "";
            width: 3rem;
            height: 2rem;
            position: absolute;
            left: 0;
        }
    }
    &--warszat {
        &::before {
            background: $purple;
        }
    }
    &--koncert {
        margin-left: 1rem;
        &::before {
            background: $red;
        }
    }
    &__month {
        & .fc-title {
            display: none;
        }
    }
    &__list {
        padding-top: 5rem;
        & .fc-list-item-marker {
            display: none;
        }
    }
}
