.header {
    padding-top: (3.7rem +($navbar-padding-y * 2));
    height: 500px;
    background-image: url(../img/tlo_baner.png);
    background-position: right;
    &--title {
        @extend %text-header;
    }
    &--text {
        @extend %text-header;
    }
    &--logo {
        margin-left: auto;
        margin-top: auto;
        flex-direction: column;
        display: flex;
    }
    &--container {
        flex-direction: column;
        display: flex;
    }
    &__items {
        flex-direction: row;
        display: flex;
    }
}

%text-header {
    text-shadow: 0 0 3px $white, 0 0 5px $black;
    font-weight: 800;
    color: $gray-700;
}
